/*Global Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Lato, sans-serif;
}
/*Declaring a variable in css */
:root{
    --primary-color:#25ced1;
    --primary-color-dark:#204c4d;
    --secondary-color:#ff8a5b;
    --color-grey:#f4f4f4;
    --darker-grey:#f4f4f4;
    --column-gutter: 20px;
}

/*
    DAY-TO-DAY SUMMARY OF PROJECT
        DAY 1:
            We learnt the following;
            1. List-style property
            2. Targetting element(s) by descendant selector
            3. Targetting element(s) by compound selector
        DAY 2:
            We learnt the following;
            1. How to use letter-spacing property
            2. How to give an element two or more background colors using background-image:linear-gradient()
            3. How to use background-clip property and set it to text
            4. How to draw a circle using the concept of same height and width and border-radius
            5. How to use the overflow property
       
*/

/***************************** Headings ***************/
.heading-secondary{
    color: var(--primary-color);
    margin-bottom: 15px;
}
.heading-primary{

}
/***************************** Navigation ***************/
.nav{
    padding: 15px 0;
   margin-bottom: 7px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
}

.nav-content-container{
    max-width: 1140px;
    margin: 0 auto;
}

.nav-content-container::after{
    content: "";
    clear: both;
    display: table;
}

.nav-contents{
    margin-right: 10px;
    float: left;
}

.nav-menu{
    width: 80%;
    margin-top: 20px;
}

.nav-content-right{
    margin-top: 20px;
}

.nav-list{
    width: 40%;
    margin:  0 auto;
}

.nav-list::after{
    content: "";
    clear: both;
    display: table;
}

.nav-logo{
    height: 50px;
}

.nav-list .nav-item{
    float: left;
    list-style: none;
    margin-left: 25px;
  
}
/*Using descedant selector */
.nav-list .nav-item .nav-link{
    color:#000;
    text-decoration: none;
}

.nav-list .nav-item .active-nav-link{
    color: var(--primary-color);
}

/***************************** Reusable Components ***************/
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

.row [class^="col-"]{
    float: left;
}


.row [class^="col-"]:not(:last-child){
    margin-right: var(--column-gutter);
}


.row .col-1-of-2{
    width: calc((100% -  var(--column-gutter)) / 2);
}
.row .col-1-of-3{
    width: calc((100% -  (2 * var(--column-gutter))) / 3);
}

/***************************** Utilities ***************/
.text-center{
    text-align: center;
}
.u-margin-bottom-big{
    margin-bottom: 50px;
}

/***************************** Buttons ***************/
.btn{
    border: none;
    padding: 10px 12px;
    border-radius: 7px;
    text-decoration: none;
}
/*Using Compound selector */
.btn.btn-half{
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}
.btn.btn-full{
    background-color:var(--secondary-color) ;
    color: #fff;
}

/***************************** Hero Section ***************/
.hero{
    height: 90vh;
    padding-top: 60px;
    background-color: var(--darker-grey);
}
.hero-text-box{

}

.hero-sub-heading{
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: lighter;
}

.hero-main-heading{
    font-size: 45px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, var(--primary-color-dark), var(--primary-color));
    background-clip: text;
    color: transparent;
    margin: 10px 0;
}
.hero-para{
    margin-bottom: 30px;
}

.hero-image-circle{
    height: 450px;
    width: 450px;
    background-image: linear-gradient(to right, var(--primary-color), var(--primary-color-dark));
    border-radius: 100%;
    overflow: hidden;
    padding-top: 50px;
}

.hero-image-circle img{
    height: 400px;
}

/***************************** Section Steps ***************/
.section-steps{
    padding: 100px 0;
}
.steps-container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
}
.step{
    text-align: center;
    border-bottom: 3px solid var(--primary-color);
    border-radius: 7px;
    padding-bottom: 15px;
}

.step-icon-circle{
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color:var(--color-grey) ;
}

.step-icon{
    color:var(--primary-color);
    font-size: 25px;
}

.step-heading{
    margin-bottom: 20px;
}

.step-para{

}